.game-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


  .game-board {
      height: 35rem;
      background-image: url('https://thumbnails.yayimages.com/2/995/2995f4e.jpg');
      border-radius: 2%;
      box-shadow: 5px 10px;
  }

  .dealer-row {
      height: 40%;
  }

  .player-row {
      height: 40%;
  }

  .start-button-row {
      height: 20%;
  }

  .card-img {
      max-height: 20rem;
      max-width: 10rem;
      padding: 5px;
      /* margin: 10px; */

  }

  .start-button {
      width: 10rem;
      margin-top: 2rem;
  }

@keyframes cardSlide {
    0% {
        bottom: 700px;
    }
    100% {
        bottom: 0px;
    }
}


#first-card{
    position: relative;
    bottom: 700px;
    animation-name: cardSlide;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
}
#second-card{
    position: relative;
    bottom: 700px;
    animation-name: cardSlide;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-delay: 0.5s;
}
#third-card{
    position: relative;
    bottom: 700px;
    margin-left: -7rem;
    animation-name: cardSlide;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-delay: 1s;
}

#fourth-card{
    position: relative;
    bottom: 700px;
    margin-left: -7rem;
    animation-name: cardSlide;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-delay: 1.5s;
}
      
.hitbutton {
    width: 10rem;
    margin-top: 2rem;
}


.staybutton {
    width: 10rem;
    margin-top: 2rem;
}