body {
    font-family: 'Berkshire Swash', cursive;
}
table, th, td {
    border: 1px solid black;
  }

.game-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


  .game-board {
      height: 35rem;
      background-image: url('https://thumbnails.yayimages.com/2/995/2995f4e.jpg');
      border-radius: 2%;
      box-shadow: 5px 10px;
  }

  .dealer-row {
      height: 40%;
  }

  .player-row {
      height: 40%;
  }

  .start-button-row {
      height: 20%;
  }

  .card-img {
      max-height: 17rem;
      max-width: 9rem;
      padding: 5px;
      /* margin: 10px; */

  }

  .start-button {
      width: 10rem;
      margin-top: 2rem;
  }

@keyframes cardSlide {
    0% {
        bottom: 700px;
    }
    100% {
        bottom: 0px;
    }
}

.btn {
    box-shadow: 1px 2px gray;
}
.btn:hover{
    box-shadow: 3px 6px;
}


#first-card{
    position: relative;
    bottom: 700px;
    animation-name: cardSlide;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
}
#second-card{
    border-radius: 8%;
    position: relative;
    bottom: 700px;
    animation-name: cardSlide;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-delay: 0.5s;
}
#third-card{
    position: relative;
    bottom: 700px;
    margin-left: -4rem;
    animation-name: cardSlide;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-delay: 1s;
}

#fourth-card{
    position: relative;
    bottom: 700px;
    margin-left: -4rem;
    animation-name: cardSlide;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-delay: 1.5s;
}

.added-card {
    position: relative;
    max-height: 20rem;
    max-width: 10rem;
    padding: 5px;
    bottom: 700px;
    animation-name: cardSlide;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
}
.hitbutton {
    width: 10rem;
    margin-top: 2rem;
}


.staybutton {
    width: 10rem;
    margin-top: 2rem;
}

.money-button {
    margin: 10px;
    border-radius: 20%;
}

.lose-msg {
    color: red;
}

.win-msg {
    color: blanchedalmond;
}

.money-display {
    margin-left: 3rem;
}
.money-button-col {
    display: flex;
    align-items: center;
    justify-content: center;

}
.money-display-col {
    
}
